:root {
  --primary: #00cccc;
  --dark: #030303;
  --pure: #ffffff;
  --ternary: #6c6b6e;
  --light: #dbd9df;
  --grey: #f2f2f2;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.intro {
  margin-top: 80px;
  background: var(--dark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 90%, 0 100%);
}
header nav {
  background: var(--dark);
  height: 50px;
  position: fixed;
  margin-top: 0px;
  width: 100%;
  margin-top: -80px;
  border-bottom: 2px soild var(--grey);
}
.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}
#picture {
  border-radius: 5px;
}
nav .left a {
  color: var(--pure);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all 0.3s ease;
  font-weight: 600;
  padding-top: 5px;
}

nav .left a:hover {
  color: var(--primary);
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.items-centers {
  align-items: center;
}
.between {
  justify-content: space-between;
}
nav {
  padding: 2rem 0px 4rem 0px;
  border-bottom: 1px solid (--grey);
}
nav .logo {
  margin-right: 5rem;
  display: inline-flex;
}
#btnn {
  padding: 0.6rem 2rem;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-left: 24rem;
  margin-top: 15px;
}
#btnn1 {
  padding: 0.6rem 2rem;
  border: 2px solid var(--primary);
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-right: 8rem;
}
.btn-primary {
  background: var(--primary);
  text-decoration: none;
  color: var(--dark);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}
#btnn {
  border: 2px solid var(--primary);
}
.btn-primary:hover {
  background: transparent;
  border: 1px solid var(--primary);
  color: var(--primary);
}
h6 {
  color: var(--pure);
}
h1 {
  color: var(--pure);
}
.left #picture {
  width: 380px;
  height: 480px;
}
.logo h2 {
  color: var(--pure);
  margin-left: 6rem;
  margin-right: 2rem;
}
.logo h2 span {
  color: var(--primary);
}
.btn-secondary {
  background: transparent;
  border-color: 2px solid var(--primary);
  text-decoration: none;
  color: var(--primary);
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 600;
}

.btn-secondary:hover {
  background: var(--primary);
  color: var(--dark);
}
.pic .right {
  color: var(--pure);
}
.pic .right h6 {
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}
.pic .right h5 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 1rem;
}
.del {
  color: var(--primary);
  font-weight: 100;
}
.flex-1 {
  flex: 1;
}
.justify-center {
  justify-content: center;
}
/* About Css*/
section {
  padding: 4rem 0px;
}

.abtimg {
  width: 300px;
  height: 380px;
  margin-left: 30px;
  border-radius: 5px;
}
.flex-2 {
  padding: 0px 35px;
}
.abt {
  margin-bottom: 1rem;
  font-size: 2.4rem;
  color: var(--dark);
  text-align: center;
  margin-bottom: 3rem;
}
.me {
  color: var(--primary);
}
.about h3 {
  font-size: 1rem;
  color: var(--dark);
  margin-bottom: 1rem;
  font-weight: 600;
}
.about p {
  font-family: "Lato", sans-serif;
  font-weight: bolder;
  color: var(--ternary);
  line-height: 1.8;
  margin-bottom: 1rem;
}
.skills {
  color: var(--primary);
  margin-bottom: 1rem;
}
.my {
  color: var(--dark);
}
.list {
  margin-left: 20px;
  font-family: "lato", sans-serif;
  font-weight: 600;
  color: var(--ternary);
}
/*card*/
.Projects {
  background: var(--pure);
}
.container .pro {
  font-family: "poppin", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  color: var(--dark);
  text-align: center;
  margin-bottom: 25px;
}

.promy {
  color: var(--primary);
}
.card {
  background-image: linear-gradient(
    to right,
    rgb(188, 229, 229),
    rgb(230, 243, 245),
    rgb(188, 229, 229)
  );
}
.pro-img {
  width: 320px;
  height: 320px;
  padding: 5px;
  border-radius: 5px;
}
.card-content {
  background: var(--dark);
  padding: 2rem;
  width: 320px;
  height: 270px;
  border-radius: 5px;
}
.pro-para {
  color: var(--ternary);
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: var(--ternary);
  margin-top: 20px;
  font-weight: 600;
}
.card-head {
  color: var(--pure);
  font-family: "poppin", sans-serif;
  font-size: 26px;
  font-weight: 600;
  margin-bottom: 10px;
}
.a-head {
  text-decoration: none;
  color: var(--pure);
  font-family: "poppin", sans-serif;

  font-weight: 600;
}
.pro-date {
  padding: 3px;
  color: var(--light);
}

.card {
  align-items: center;
  padding: 25px;
}
/*eduction*/
.heading {
  text-align: center;
  font-size: 2.4rem;
}
.heading span {
  color: var(--primary);
}
.education {
  background: var(--dark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 97%, 0 100%);
}
.education .box-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 0;
  padding-left: 3rem;
}

.education .box-container .box {
  width: 27rem;
  margin: 4rem 1rem;
  padding-left: 4rem;
  border-left: 0.2rem solid var(--pure);
  position: relative;
}

.education .box-container .box span {
  font-size: 1.3rem;
  background: #222;
  color: var(--pure);
  border-radius: 5rem;
  padding: 0.5rem 2.5rem;
}

.education .box-container .box h3 {
  font-size: 2rem;
  color: #fff;
  padding-top: 1.5rem;
}

.education .box-container .box p {
  font-size: 1.4rem;
  color: var(--light);
  padding: 1rem 0;
}

.education .box-container .box i {
  position: absolute;
  top: -1.5rem;
  left: -2.5rem;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  line-height: 5rem;
  text-align: center;
  font-size: 2rem;
  color: var(--pure);
  background: var(--primary);
}
.menu {
  display: none;
}
/*Contact*/
.contact {
  background: var(--dark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 75% 97%, 0 100%);
}

.contact .row {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.contact .row .content {
  flex: 1 1 20rem;
  padding: 4rem;
  padding-bottom: 0;
  background: var(--dark);
}

.contact .row form {
  flex: 1 1 15rem;
  padding: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
  background: var(--dark);
}

.contact .row form .box {
  padding: 1rem;
  margin: 1rem 0;
  background: var(--dark);
  color: #fff;
  text-transform: none;
  font-size: 1.7rem;
  width: 100%;
  border-radius: 8px;
  border: 1px solid var(--primary);
}

.contact .row form .box::placeholder {
  text-transform: capitalize;
  font-family: "lato", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: var(--ternary);
}

.contact .row form .message {
  height: 10rem;
  resize: none;
  border-radius: 8px;
  border: 1px solid var(--primary);
}

.contact .row .content .title {
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
  padding-bottom: 2rem;
}

.contact .row .content .info h3 {
  display: flex;
  align-items: center;
  font-size: 0.8rem;
  color: #eee;
  padding: 1rem 0;
  font-weight: normal;
}

.contact .row .content .info h3 i {
  padding-right: 1rem;
  color: var(--primary);
}

.contact a {
  color: var(--pure);
  text-decoration: none;
}
.btnn3 {
  padding: 10px;
  background: var(--primary);
  color: var(--dark);
  font-family: "poppin", sans-serif;
  font-size: 1rem;
  font-weight: 600;
  border: 1px solid var(--primary);
  border-radius: 30px;
}
.copy-right {
  background: var(--primary);
  height: 40px;
}

.copy {
  color: var(--dark);
  text-align: center;
  margin-top: 5px;
}
/*Media queries*/
@media (max-width: 850px) {
  header nav {
    background: var(--dark);
    height: 80px;
    position: fixed;
    margin-top: 0px;
    width: 100%;
    margin-top: -80px;
  }
}
/*296 to 359 header & abt picture allign */
@media (min-width: 296px) and (max-width: 361px) {
  .container {
    width: 260px;
  }
  .left #picture {
    width: 250px;
    height: 250px;
    margin-left: 2px;
    border-radius: 50%;
    margin-top: -25px;
  }

  .pic .right h5 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: center;
  }
  .right h6 {
    text-align: center;
  }
  #btnn1 {
    margin: auto;
    padding: 10px 50px;
  }
  .flex-1 {
    flex: none;
  }
  header {
    background: var(--dark);
  }
  .abtimg {
    width: 180px;
    height: 300px;
    margin-left: -30px;
  }
  .flex-2 {
    display: block;
  }
  .word {
    width: 270px;
    word-wrap: break-word;
    margin-left: -45px;
  }
  .about h3 {
    font-size: 1rem;
    color: var(--dark);
    margin-bottom: 1rem;
    font-weight: 600;
  }
  .about p {
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    color: var(--ternary);
    line-height: 1.8;
    margin-bottom: 1rem;
  }
  .flex {
    display: block;
  }
  .education .box-container .box span {
    font-size: 12px;
    background: #222;
    color: var(--pure);
    border-radius: 5rem;
    padding: 0.5rem 2.5rem;
  }
  .intro {
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 85% 98%, 0 100%);
    width: 100%;
  }
  .education .box-container .box p {
    font-size: 12px;
    color: var(--light);
    padding: 1rem 0;
  }
  header nav {
    background: var(--dark);
    height: 80px;
    position: fixed;
    margin-top: 0px;
    width: 100%;
    margin-top: -80px;
  }
  .copy {
    font-size: 12px;
  }
}
@media (min-width: 320px) and (max-width: 400px) {
  .left #picture {
    width: 300px;
    height: 300px;
    margin-left: -34px;
    border-radius: 50%;
  }

  .card {
    margin-left: -35px;
    width: 300px;
  }
  .pro-img {
    width: 260px;
    height: 260px;
    padding: 3px;
    margin-left: -5px;
  }

  .card-content {
    background: var(--dark);
    padding: 1rem;
    width: 260px;
    height: 280px;
    margin-left: -5px;
  }
  .education .box-container .box p {
    font-size: 12px;
    color: var(--light);
    padding: 0.6rem 0;
  }
}
@media (min-width: 401px) and (max-width: 500px) {
  .left #picture {
    width: 330px;
    height: 330px;
    margin-left: -50px;
    border-radius: 50%;
  }
  .card {
    margin-left: -70px;
    width: 370px;
  }
  .pro-img {
    margin-left: 0px;
  }
  .card-content {
    margin-left: 0px;
  }
}

@media (min-width: 501px) and (max-width: 581px) {
  .card {
    width: 400px;
    margin-left: -80px;
  }
  .pro-img {
    margin-left: 18px;
  }
  .card-content {
    margin-left: 18px;
  }
}

@media (min-width: 362px) and (max-width: 580px) {
  .container {
    width: 260px;
  }

  .pic .right h5 {
    font-size: 3rem;
    line-height: 1.2;
    margin-bottom: 1rem;
    text-align: center;
  }
  .naam {
    color: var(--primary);
  }
  #btnn1 {
    margin: auto;
    padding: 18px 50px;
  }
  .pic .right h6 {
    margin-bottom: 0.7rem;
    color: var(--pure);
    margin-top: 2rem;
    line-height: 1.6;
    font-size: 2rem;
    text-align: center;
  }
  .flex-1 {
    flex: none;
    align-items: flex-start;
  }
  header nav {
    background: var(--dark);
    height: 80px;
    position: fixed;
    margin-top: 0px;
    width: 100%;
    margin-top: -80px;
  }

  .abtimg {
    width: 180px;
    height: 300px;
    margin-left: -80px;
  }
  .flex-2 {
    display: block;
  }
  .skills {
    color: var(--primary);
    margin-bottom: 1rem;
    margin-left: -90px;
  }
  .my {
    color: var(--dark);
  }
  .list {
    margin-left: -70px;
  }
  .about h3 {
    font-size: 1rem;
    color: var(--dark);
    margin-bottom: 1rem;
    font-weight: 600;
    margin-left: -80px;
  }
  .word {
    width: 300px;
    word-wrap: break-word;
  }
  .about p {
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    color: var(--ternary);
    line-height: 1.8;
    margin-bottom: 1rem;
    font-size: 14px;
    margin-left: -90px;
  }
  .flex {
    display: block;
  }
  .intro {
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 85% 98%, 0 100%);
    width: 100%;
  }
  .education .box-container .box p {
    font-size: 14px;
    color: var(--light);
    padding: 0.6rem 0;
  }
  .education .box-container .box span {
    font-size: 1.1rem;
    background: #222;
    color: var(--pure);
    border-radius: 5rem;
    padding: 0.3rem 2.5rem;
  }
  .logo h2 {
    margin-left: 3rem;
    margin-right: 2rem;
    margin-top: 40px;
  }
  .copy {
    font-size: 12px;
  }
}

@media (min-width: 531px) and (max-width: 755px) {
  .container {
    width: 260px;
  }

  .pic .right h5 {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  .flex-1 {
    flex: none;
  }
  header nav {
    background: var(--dark);
    height: 80px;
    position: fixed;
    margin-top: 0px;
    width: 100%;
    margin-top: -80px;
  }
  .abtimg {
    width: 180px;
    height: 300px;
    margin-left: -100px;
  }

  .word {
    width: 300px;
    word-wrap: break-word;
  }
  .about h3 {
    font-size: 1rem;
    color: var(--dark);
    margin-bottom: 1rem;
    font-weight: 600;
  }
  .about p {
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    color: var(--ternary);
    line-height: 1.8;
    margin-bottom: 1rem;
  }
  .flex {
    display: block;
  }
  .intro {
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 85% 98%, 0 100%);
    width: 100%;
  }
  .education .box-container .box p {
    font-size: 1.2rem;

    padding: 1rem 0;
  }
}
@media (min-width: 10px) and (max-width: 319px) {
  .container {
    width: 260px;
  }
  .left #picture {
    width: 200px;
    height: 200px;
    margin-left: 2px;
    border-radius: 50%;
    margin-top: -25px;
  }
  .pic .right h5 {
    font-size: 1rem;
    line-height: 1.2;
    margin-bottom: 1rem;
  }
  .flex-1 {
    flex: none;
  }

  header {
    background: var(--dark);
  }
  .abtimg {
    width: 180px;
    height: 300px;
    margin-left: -30px;
  }
  .flex-2 {
    display: block;
  }

  .about h3 {
    font-size: 1rem;
    color: var(--dark);
    margin-bottom: 1rem;
    font-weight: 600;
  }
  .about p {
    font-family: "Lato", sans-serif;
    font-weight: bolder;
    color: var(--ternary);
    line-height: 1.8;
    margin-bottom: 1rem;
    font-size: 8px;
  }
  .flex {
    display: block;
  }
  .education .box-container .box span {
    font-size: 12px;
    background: #222;
    color: var(--pure);
    border-radius: 5rem;
    padding: 0.5rem 2.5rem;
  }
  .intro {
    background: var(--dark);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 85% 98%, 0 100%);
    width: 100%;
  }
  .education .box-container .box p {
    font-size: 8px;
    color: var(--light);
    padding: 1rem 0;
  }
  .education .box-container .box h3 {
    font-size: 12px;
  }

  .education .heading {
    font-size: 20px;
  }
  header nav {
    background: var(--dark);
    height: 80px;
    position: fixed;
    margin-top: 0px;
    width: 100%;
    margin-top: -80px;
  }
  .card {
    width: 260px;
    margin-left: -15px;
  }
  .pro-img {
    width: 200px;
    margin-left: 2px;
  }
  .card-content {
    width: 200px;
    height: 430px;
    align-items: center;
    margin-left: 2px;
  }
  .contact .heading {
    font-size: 20px;
  }
  .contact h3 a {
    font-size: 8px;
  }
  .content .title {
    font-size: 10px;
  }
  .education .box-container .box span {
    font-size: 8px;
  }
  .copy {
    font-size: 10px;
  }
}
@media (min-width: 750px) and (max-width: 890px) {
  .btn {
    margin-right: 3rem;
  }
  .logo h2 {
    margin-left: 3rem;
  }
}
@media (min-width: 10px) and (max-width: 800px) {
  #btnn {
    display: none;
  }
  .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(255, 253, 253);
    background-color: rgba(255, 250, 250, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }

  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }

  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }

  .overlay a:hover,
  .overlay a:focus {
    color: #f1f1f1;
  }

  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 95px;
    font-size: 60px;
    color: var(--pure);
  }

  .open {
    color: var(--pure);
    /* margin-left: 40px; */
    float: right;
    margin-top: -40px;
    margin-right: 4rem;
  }
  .a-home {
    display: none;
  }
  .a-about {
    display: none;
  }
  .a-pro {
    display: none;
  }
  .logo h2 {
    color: var(--pure);
    margin-left: 4rem;
    margin-right: 2rem;
    margin-top: -20px;
  }
  .card-wrapper {
    display: block;
  }
  .card-wrapper::-webkit-scrollbar {
    display: none;
  }

  @media screen and (max-height: 450px) {
    .overlay a {
      font-size: 20px;
    }
    .overlay .closebtn {
      font-size: 40px;
      top: 15px;
      right: 35px;
    }
  }
}
/*Overrelay displaying none*/
@media screen and (min-width: 801px) {
  .overlay {
    display: none;
  }
  .closebtn {
    display: none;
  }
  .card-wrapper {
    display: flex;
    justify-content: space-between;
  }
  .card-wrapper {
    height: 700px;
    display: flex;
    overflow-x: auto;
    padding: 4px;
  }
  .card-wrapper::-webkit-scrollbar {
    width: 0px;
  }
  .logo {
    padding-top: 10px;
  }
  .logo .right {
    padding-top: 20px;
  }
}
@media (min-width: 800px) and (max-width: 1085px) {
  #btnn {
    padding: 0.6rem 2rem;
    border: 2px solid transparent;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    margin-left: 4rem;
    margin-top: 15px;
  }
}
@media (min-width: 501px) and (max-width: 580px) {
  .left #picture {
    width: 400px;
    height: 400px;
    border-radius: 50%;
    margin-left: -90px;
    margin-bottom: 10px;
  }
}
@media (min-width: 581px) and (max-width: 755px) {
  .left #picture {
    width: 400px;
    height: 350px;
    border-radius: 50%;
    margin-left: -90px;
    margin-bottom: 2rem;
  }
  .flex-1 {
    flex: 1;
  }
  .right .naam {
    color: var(--primary);
  }
  .right h6 {
    text-align: center;
    font-size: 2rem;
    color: var(--pure);
  }
  .right h5 {
    text-align: center;
    font-size: 2rem;
  }
  #btnn1 {
    padding: 10px 60px;
  }
  .card {
    width: 400px;
    justify-content: center;
    margin-left: -70px;
  }
  .pro-img {
    margin-left: 18px;
  }
  .card-content {
    margin-left: 18px;
  }
}
@media (min-width: 760px) and (max-width: 800px) {
  .card {
    width: 500px;
    justify-content: center;
    margin-left: 130px;
    align-items: center;
  }
  .pro-img {
    margin-left: 62px;
  }
  .card-content {
    margin-left: 62px;
  }
  .open {
    margin-top: 10px;
  }
  .logo h2 {
    margin-top: 10px;
  }
  .right {
    margin-left: 10px;
  }
}
@media (min-width: 800px) and (max-width: 930px) {
  .contact .row form {
    flex: 1 1 20rem;
    padding: 2rem;
    margin: 2rem;
    margin-bottom: 4rem;
  }
}
